  .footer {
    box-sizing: border-box;
    background-color: #0a2850;
    padding: 60px 80px;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
.content__footer{
  display: flex;
  justify-content: space-between;
  margin: 60px 80px 108px 80px;
}
.footer__blue-circule{
  background-color: #2F80ED;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    z-index:1;
    top: -128px;
  left: -44px;
}
.logo{
width: 105px;
height: 39px;
z-index: 4;
}
.social-heading{
  margin-top: 0;
margin-bottom: 20px;
}
.social{
display: flex;
flex-direction: column;
}
.social-icon{
  margin-right: 10px;
}
.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}
.social-link{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.footer__copyright{
  margin-left: 80px;
  margin-bottom: 60px;
  font-size: 16px;
}