  .footer {
    box-sizing: border-box;
    background-color: #0a2850;
    padding: 60px 80px;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
.footer__content{
  display: flex;
  justify-content: space-between;
  margin: 60px 80px 108px 80px;
  z-index: 10;
}
.footer__circle{
  background-color: #2F80ED;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    z-index:0;
    top: -128px;
  left: -44px;
}
.footer__logo{
width: 105px;
height: 39px;
z-index: 10;
}
.footer__list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}
.footer__social{
  display: flex;
  flex-direction: column;
  }
.footer__copyright{
  margin-left: 80px;
  margin-bottom: 60px;
  font-size: 16px;
}